:root {
    --header-height: 60px;

    --primary-color: hsl(354, 78%, 60%);
    --body-color: hsl(206, 4%, 97%);
    --text-color: hsl(0, 0%, 20%);
    --title-color: hsl(0, 0%, 10%);
    --bg-color: hsl(0, 0%, 100%);
    --card-color: hsl(0, 0%, 90%);
    --green-icon-color: #9acd32;

    --body-font: "Open Sans", sans-serif;
    --title-font: "Poppins", sans-serif;

    --big-font: 2rem;
    --medium-font: 1.5rem;
    --normal-font: 1rem;
    --small-font: .8rem;
    --tiny-font: .75rem;

    --font-bold: 700;
    --font-medium: 600;
    --font-normal: 400;
    --font-tiny: 300;

    --sp-0-5: .5rem;
    --sp-0-75: .75rem;
    --sp-1: 1rem;
    --sp-1-5: 1.5rem;
    --sp-2: 2rem;
    --sp-2-5: 2.5rem;
    --sp-3: 3rem;

    --z-fixed: 100;
    --z-modal: 200;
}

@media (min-width: 992px) {
    :root {
    --big-font: 2.5rem;
    --medium-font: 2rem;
    --normal-font: 1.25rem;
    --small-font: 1rem;
    --tiny-font: .8rem;
    }
}

html,
body {
    height: 100%;
}

html {
    font-size: 16px;
    line-height: 1.5;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font);
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font);
    font-weight: var(--font-normal);
    color: var(--text-color);
    background-color: var(--body-color);
}

a {
    text-decoration: none;
}

i {
    color: var(--title-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    font-weight: var(--font-medium);
    color: var(--title-color);
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    user-select: none;
    cursor: pointer;
}

.darkmode {
    --primary-color: hsl(354, 78%, 60%);
    --body-color: #191919;
    --text-color: white;
    --title-color: white;
    --bg-color: #262626;
    --card-color: #3a3b3c;
}

/* Global */
.section {
    padding: var(--sp-2) 0 var(--sp-1);
}

.section--title, .container {
    max-width: 1024px;
    margin: 0 1rem;
}


/* Loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader__container span {
    display: inline-block;
    width: var(--sp-3);
    height: var(--sp-3);
    color: var(--primary-color);
    position: relative;
    animation: loader-10-1 2.0s infinite linear;
}

.loader__container span:before,
.loader__container span:after {
    content: '';
    width: 0;
    height: 0;
    border: .5em solid currentcolor;
    display: block;
    position: absolute;
    border-radius: 100%;
    animation: loader-10-2 2s infinite ease-in-out;
}
.loader__container span:before {
    top: 0;
    left: 50%;
}
.loader__container span:after {
    bottom: 0;
    right: 50%;
    animation-delay: -1s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
}

@keyframes loader-10-1 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-10-2 {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

/* Header */
.header {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    z-index: var(--z-fixed);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 10%);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.logo--icon {
    width: 3rem;
    height: 3rem;
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        height: calc(max-content - var(--header-height));
        padding: var(--sp-3) 0 var(--sp-2);
        background-color: var(--bg-color);
        z-index: var(--z-fixed);
        transition: bottom .5s ease-in-out;
    }
}

.nav__menu .btn--close {
    position: absolute;
    top: var(--sp-0-75);
    right: var(--sp-0-75);
    width: var(--sp-2);
    height: var(--sp-2);
    font-size: var(--medium-font);
    z-index: var(--z-fixed);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    display: flex;
    align-items: center;
    padding: var(--sp-0-75) var(--sp-1);
    color: var(--text-color);
    transition: color .3s ease-in-out;
}

.nav__link:hover {
    color: var(--primary-color);
}

.nav__buttons {
    display: flex;
    align-items: center;
    gap: var(--sp-1);
}

.nav__btn i {
    font-size: 1.25rem;
}

.btn--cart {
    position: relative;
}

.notify {
    position: absolute;
    top: -5px;
    right: -11px;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    font-size: var(--tiny-font);
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.show--notify {
    opacity: 1;
    visibility: visible;
}

/* Show Menu */
.show-menu {
    bottom: var(--header-height);
}



/* Slider */
.container-slider{
    /* margin: 50px 0; */
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 400%;
    height: 90vh;
    margin-left: -100%;
}

.slider:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.145);
    height: 100%;
}

.slider__section {
    width: 25%;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgb(225, 225, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30PX;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover {
    background: #fff;
}

.slider__btn--left {
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}



/* Products */
.products__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center;
    gap: var(--sp-2);
}

.products__container .product {
    position: relative;
    max-width: 310px;
    width: 100%;
}
.products__title {
    margin-bottom: var(--sp-2);
}

.product {
    overflow: hidden;
}

.product:hover {
    box-shadow: 0px 5px 31px -1px rgba(0,0,0,.15);
}

.product__image {
    padding: var(--sp-1);
    background-color: var(--card-color);
}

.product__image img {
    transition: transform .3s ease-in-out;
}
.product__image:hover {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(19, 107, 99, 0.2) 29%, rgba(235,119,142,0.2) 69%);
    
}
.product:hover img {
    transform: translateY(-10px);
}

.product__content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: var(--bg-color);
    padding: var(--sp-1-5);
    min-height: 109px;
    height: 26px;
}

.product__btn {
    position: absolute;
    top: 0;
    right: var(--sp-1-5);
    width: 45px;
    height: 45px;
    background-color: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.product__btn:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.product__price {
    grid-column: span 1;
}

.product__stock {
    grid-column: span 2;
    justify-self: flex-end;
    font-size: var(--small-font);
}

.product__title {
    grid-column: span 3;
}

/* Cart */
.cart {
    position: fixed;
    bottom: var(--header-height);
    right: -100%;
    max-width: 375px;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: var(--bg-color);
    z-index: var(--z-fixed);
    transition: right .5s ease-in-out;
}

.show--cart {
    right: 0;
}

.cart__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 60% 30%;
    height: 100%;
}

.cart__header {
    display: grid;
    grid-template-columns: 2fr 2fr .5fr;
    align-items: center;
    width: 100%;
    padding: var(--sp-1-5) 0 0 var(--sp-1);
}

.cart__title {
    grid-column: span 2;
}

.cart__btn .btn--close {
    font-size: var(--medium-font);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__body {
    padding: var(--sp-1);
    overflow-y: auto;
}

.cart__empty {
    display: flex;
    align-items: center;
    gap: var(--sp-0-5);
    font-size: var(--normal-font);
}

.article {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr;
    column-gap: var(--sp-1);
    margin-bottom: var(--sp-1);
}

.article__image {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border: 1px solid var(--card-color);
    align-self: center;
}

.article__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.article__content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 30px;
}

.article__title {
    grid-column: span 4;
}

.article__quantity {
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: var(--sp-1);
    justify-self: center;
}

.remove-from-cart {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

.cart__footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    background-color: var(--card-color);
    padding: var(--sp-1);
}
.cart__subtotal {
    grid-column: span 4;
    justify-self: flex-end;
}

.cart__iva {
    grid-column: span 4;
    justify-self: flex-end;
}

.cart__count {
    grid-column: span 2;
    font-size: var(--normal-font);
}

.cart__total {
    grid-column: span 2;
    justify-self: flex-end;
}

.btn--buy {
    grid-column: span 4;
    background-color: var(--title-color);
    color: var(--bg-color);
    padding: var(--sp-1);
}



/*contact button*/
.contact__button {
    height: 50px;
    width: 50px;
    border-radius: 60px;
    background-image: url(/assets/img/img-contacto.png);
    background-color: var(--primary-color);
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 80px;
    right: 30px;
}

.contact__button:hover {
    background-color: rgb(255, 255, 255);
    box-shadow:
        inset 0 0 0 2px rgba(31, 31, 30, 0.68),
        /*un borde*/
        0.2em 0.2em 2em rgba(233, 73, 89, 0.987);
    /*efecto*/
}

.form__container {
    position: fixed;
    bottom: 8rem;
    right: -25rem;
    max-width: 25rem;
    height: auto;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s ease;
    transform: translateX(0);
    margin: 0;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form__container.active {
    right: 2rem;
}

.form{
    margin: auto;
    width: 90%;
    padding: 1rem 1rem;
    text-align: center;
}

.form__title{
    font-size: 1.8rem;
    margin: .5em;
}

.form__contact{
    /* display: flex;
    flex-direction: column;
    margin-bottom: 2rem; */
    display: grid;
    gap: .5em;
}

.form__group{
    position: relative;
    --color:#383434f5;
}

.form__input{
    width: 100%;
    background: none;
    color: var(--text-color);
    font-size: 1.2rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1.5px solid var(--text-color);
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label{
    transform: translateY(-9px) scale(.7);
    transform-origin: left top;
    color: var(--text-color);
}

.form__label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(18px);
    transition: transform .5s, color .3s;
}

.form__submit{
    background: var(--primary-color);
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 1.1rem;
    padding: .7em 0;
    border: none;
    border-radius: .7em;
}

.form__line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background: var(--primary-color);
    transform: scale(0);
    transform: left bottom;
}


.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line {
    transform:scale(1);
}

.form__area {
    width: 100%;
    height: 110px;
    background: var(--card-color);
    color: var(--text-color);
    font-size: 1.2rem;
    padding: .6em .6em;
    border: none;
    border-radius: 8px;
    outline: none;
    /* border-bottom: 1.5px solid var(--text-color); */
    resize: none;
}

.form__message{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 12px 0;
}

.form__message textarea {
    margin-top: 12px;
    font-size: 1rem;
}
/* .form__area:focus {
    border-bottom: 2px solid var(--primary-color);
} */

/* Modal Global */
.modal__global {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
    z-index: var(--z-modal);
}

.modal__close__global {
    text-decoration: none;
    color: var(--bg-color);
    background-color: var(--primary-color);
    padding: .6em 1.8em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
    font-size: inherit;
}

.modal__close__global:hover {
    color: var(--primary-color);
    background-color: var(--bg-color);
}

.modal__title {
    font-size: 1.5rem;
    text-align: center;
}

.modal__paragraph {
    margin-bottom: 10px;
    text-align: center;
    font-size: var(--normal-font);
}

.modal__img {
    width: 70%;
    max-width: 300px;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
}


/* Modal Stock */
.modal__container__stock {
    margin: auto;
    height: auto;
    max-width: 500px;
    max-height: 500px;
    background-color: var(--bg-color);
    font-weight: 600;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
}

.modal__icon__error {
    font-size: 4rem;
    color: var(--primary-color);
}


/* Modal Checkout */
.modal__container__checkout {
    margin: auto;
    height: auto;
    max-width: 500px;
    max-height: 500px;
    background-color: var(--bg-color);
    font-weight: 600;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
}

.modal__icon__check {
    font-size: 4rem;
    color: var(--green-icon-color);
}

/* Modal Thanks for contacting */
.modal__container__thanks {
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: var(--bg-color);
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
}

.modal__paragraph__m1 {
    display: none;
}

/* Modal Members */

.modal__container {
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: var(--bg-color);
    border-radius: 6px;
    padding: 2em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
}





/* Footer */
.footer {
    background-color: var(--card-color);
    width: 100%;
    padding-bottom: calc(var(--header-height) + 1rem);
}

.footer__container, .footer__top {
    width: 100%;
    margin: 0;
}

.footer__description {
    padding: 2rem;
}

.footer__boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 1rem 0;
}

.box1, .box2, .box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: auto;
    color: var(--bg-color);
}

.footer__title {
    margin-bottom: var(--sp-0-75);
    color: var(--title-color);
}

.footer__social {
    display: flex;
    align-items: center;
    gap: var(--sp-1-5);
}

.footer__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--sp-2-5);
    height: var(--sp-2-5);
    background-color: var(--title-color);
    color: var(--bg-color);
    border-radius: 50%;
    font-size: var(--sp-1-5);
    transition: background-color .3s ease-in-out;
}

.footer__link:hover {
    background-color: var(--primary-color);
}

.footer__link i{
    color: var(--bg-color);
}

.footer__boxes .btn__members {
    width: 8rem;
    height: var(--sp-2-5);
    background-color: var(--title-color);
    color: var(--bg-color);
    border-radius: 14px;
    font-size: var(--sp-1-5);
    transition: background-color .3s ease-in-out;
    
}

.footer__boxes .btn__members i{
    margin: 0 10px;
    color: var(--bg-color);
}

.footer__boxes .btn__members:hover {
    background-color: var(--primary-color);
}

.footer__bottom {
    text-align: center;
    margin: 36px 12px 0;
}

/* Media Queries */

@media (min-width: 768px) {
    :root {
        --header-height: 75px;
    }

    .header {
        top: 0;
        bottom: unset;
    }

    .nav__list {
        display: flex;
        align-items: center;
    }

    .logo--icon {
        width: 4rem;
        height: 4rem;
        color: var(--primary-color);
    }

    .nav__menu .btn--close,
    .btn--menu {
        display: none;
    }

    .container-slider {
        margin-top: var(--header-height);
    }

    .modal__title {
        font-size: 2.5rem;
        text-align: center;
    }
    
    .modal__paragraph {
        margin-bottom: 10px;
        text-align: center;
    }

    .modal__paragraph__m1 {
        display: block;
    }
    
    .modal__img {
        width: 90%;
        max-width: 300px;
    }

    .modal__container {
        max-width: 800px;
    }
    /* .main {
        padding-top: var(--header-height);
    } */

    .product__title {
        font-size: var(--small-font);
    }

    .cart {
        top: var(--header-height);
    }

    .contact__button {
        bottom: 40px;
        right: 40px;
    }

    .btn--cart {
        margin-right: 20px;
    }

    .footer {
        padding-bottom: 1.5rem;
    }

    .footer__boxes {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .section--title,
    .container {
        margin: 0 auto;
    }

    .section--title {
        margin-bottom: 1.5rem;
    }

    .products__container {
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    }

    .modal__container {
        max-width: 800px;
    }

}

@media (max-width: 768px) {
    .slider {
    height: 30vh;
    }
    .slider__section {
    width: 50%;
    }
}