:root {
    --header-height: 60px;

    --primary-color: hsl(354, 78%, 60%);
    --body-color: hsl(206, 4%, 97%);
    --text-color: hsl(0, 0%, 20%);
    --title-color: hsl(0, 0%, 10%);
    --bg-color: hsl(0, 0%, 100%);
    --card-color: hsl(0, 0%, 90%);

    --body-font: "Open Sans", sans-serif;
    --title-font: "Poppins", sans-serif;

    --big-font: 2rem;
    --medium-font: 1.5rem;
    --normal-font: 1rem;
    --small-font: .8rem;
    --tiny-font: .75rem;

    --font-bold: 700;
    --font-medium: 600;
    --font-normal: 400;
    --font-tiny: 300;

    --sp-0-5: .5rem;
    --sp-0-75: .75rem;
    --sp-1: 1rem;
    --sp-1-5: 1.5rem;
    --sp-2: 2rem;
    --sp-2-5: 2.5rem;
    --sp-3: 3rem;

    --z-fixed: 100;
    --z-modal: 200;
}

@media (min-width: 992px) {
    :root {
    --big-font: 2.5rem;
    --medium-font: 2rem;
    --normal-font: 1.25rem;
    --small-font: 1rem;
    --tiny-font: .8rem;
    }
}

html,
body {
    height: 100%;
}

html {
    font-size: 16px;
    line-height: 1.5;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font);
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font);
    font-weight: var(--font-normal);
    color: var(--text-color);
    background-color: var(--body-color);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    font-weight: var(--font-medium);
    color: var(--title-color);
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    user-select: none;
    cursor: pointer;
}

/* Global */
.section {
    padding: var(--sp-2) 0 var(--sp-1);
}

.section--title, .container {
    max-width: 1024px;
    margin: 0 1rem;
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader__container span {
    display: inline-block;
    width: var(--sp-3);
    height: var(--sp-3);
    color: var(--primary-color);
    position: relative;
	animation: loader-10-1 2.0s infinite linear;
}

.loader__container span:before,
.loader__container span:after {
    content: '';
    width: 0;
    height: 0;
    border: .5em solid currentcolor;
    display: block;
    position: absolute;
    border-radius: 100%;
    animation: loader-10-2 2s infinite ease-in-out;
}
.loader__container span:before {
    top: 0;
    left: 50%;
}
.loader__container span:after {
    bottom: 0;
    right: 50%;
    animation-delay: -1s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
}

@keyframes loader-10-1 {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes loader-10-2 {
	0%,
	100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}

/* Header */
.header {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    z-index: var(--z-fixed);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 10%);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.logo--icon {
    width: 3rem;
    height: 3rem;
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .nav__menu {
        position: fixed;
        bottom: var(--header-height);
        left: -100%;
        width: 100%;
        height: calc(max-content - var(--header-height));
        padding: var(--sp-3) 0 var(--sp-2);
        background-color: var(--bg-color);
        z-index: var(--z-fixed);
        transition: left .5s ease-in-out;
    }
}

.nav__menu .btn--close {
    position: absolute;
    top: var(--sp-0-75);
    right: var(--sp-0-75);
    width: var(--sp-2);
    height: var(--sp-2);
    font-size: var(--medium-font);
    z-index: var(--z-fixed);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    display: flex;
    align-items: center;
    padding: var(--sp-0-75) var(--sp-1);
    color: var(--text-color);
    transition: color .3s ease-in-out;
}

.nav__link:hover {
    color: var(--primary-color);
}

.nav__buttons {
    display: flex;
    align-items: center;
    gap: var(--sp-1);
}

.nav__btn i {
    font-size: 1.25rem;
}

.btn--cart {
    position: relative;
}

.notify {
    position: absolute;
    top: -5px;
    right: -11px;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    font-size: var(--tiny-font);
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

/* Show Menu */
.show-menu {
    left: 0;
}
